extends layout

block content
  h1 #{title}

  if book_instances.length

    p #[strong Delete the following instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books Instances

      each instance in book_instances
        hr
        a(href=instance.url) 
        if instance.status=='Available'
         p.text-success #{instance.status}
        else if instance.status=='Maintenance'
         p.text-danger #{instance.status}
        else
         p.text-warning #{instance.status}
        p #[strong Imprint:] #{instance.imprint}
        if instance.status!='Available'
         p #[strong Due back:] #{instance.due_back}
        p #[strong Id:]
         a(href=instance.url) #{instance._id}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete

